.order-page{
    background-color: rgb(240, 240, 240);
}
.order-details > h5{
    text-align: start;
}
.order-form-aria{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-form{
    max-width: 360px;
}
.order-form > input{
    width: 100%;
    padding: 5px;
    outline: none;
    margin-top: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.order-form > div{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}
