.particular-product-details{
    padding: 80px 0 80px 0;
}
.particular-product-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.particular-product-img > img{
    width: 300px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.add-to-cart{
    border: none;
    color: beige;
    padding: 5px 15px;
    z-index: 99;
    outline: none;
    background-color: #111827;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.quantity{
    border: none;
    outline: none;
}