.empty-cart{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.BsEmojiFrown{
    font-size: 25px;
}

.all-cart-product{
    background-color: rgb(240, 240, 240);
}
.cart-product{
    min-height: 100vh;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.product-cart-img {
    width: 300px;
}
.product-cart-img > div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-cart-img div > img{
    height: 40px;
    width: 50px;
    display: block;
    cursor: pointer;
}
.product-cart-img > div > div {
    width: 160px;
    text-align: left;
}
.cart-name{
    font-size: 14px;
}
.cart-product-color,
.product-cart-img > div > div > p{
    padding-left: 10px;
    margin: 0%;
}
.cart-product-color{
    display: flex;
    align-items: center;
}
.product-color{
    height: 10px;
    width: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.cart-delete-icon{
    color: #DC3545;
    cursor: pointer;
    font-size: 20px;
}
/* >>>>>>>>>>>>>> table style ending <<<<<<<<<<<<<<< */


.shopping{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.back-btn,
.order-form > button,
.order > button,
.shopping > button{
    padding: 8px;
    border: none;
    outline: none;
    color: beige;
    min-width: 120px;
}
.order-form > button,
.order > button{
    background-color: blueviolet;
}
.back-btn,
.shopping > button:nth-child(2){
    background-color: #DC3545;
}





.cost-section{
    display: flex;
    justify-content: end;
}
.cost-section > div {
    width: 230px;
    margin-top: 30px;
    padding: 10px;
    padding-bottom: 0;
    background-color: rgb(0, 0, 0, .1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.cost-section > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cost-section > div > hr{
    margin: 0%;
}
.cost-section > div > div:nth-child(3){
    margin-top: 20px;
}



@media (max-width:768px){
    .price{
        display: none;
    }
    .product-cart-img > div{
        display: block;
    }
}